@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    overflow: hidden;
    display : flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 5px 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: left;
    gap: 20px;
    align-items: flex-start;
}

label {
    width: 270px;
}

input {
    border: 0.5px solid #ddd;
    width: 350px;
    padding: 5px;
    margin-top: 8px;
}

.containerTextBox {
    display: flex;
    flex-direction: column;
}

.containerAll {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right:10%;
}

.containerButton{
    display:flex;
    justify-content:center;
    align-content:center;
    height:auto;
    padding-right:5%;
    padding-left: 5%;
    margin-top:8px;
}


